
#up-section .owl-dots button.owl-dot {
    height: 18px;
    width: 18px;
    background-color: rgb(40, 54, 61);
    border-radius: 50%;
    outline: none;
    margin: 0 6px;
}
#up-section .owl-dots button.owl-dot.active{
    background-color: #ff8207;
}
.owl-dots{
    position: absolute;
    width: 100%;
    bottom: 18%;
}

#up-section .owl-nav button.owl-prev,
#up-section .owl-nav button.owl-next {
    font-size: 10.75em;
    color: #f4aa5b;
    position: absolute;
    outline: none;
}
#up-section .owl-nav button.owl-prev{
    left: 16%;
    top: 36%;
 }
#up-section .owl-nav button.owl-next {
    right: 16%;
    top: 36%;
}

